{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script type="text/javascript" rel="script" src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" rel="script" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>


    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

    <title>Online Markdown Editör</title>

</head>
<body>
{% block ust_icerik %}

{% endblock %}

{% include "includes/editorun_kullan_navbar.html" %}




{% block body %}

{% endblock body %}

</body>
</html>