{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <script type="text/javascript" rel="script" src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" rel="script" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <title>Online Markdown Editör</title>
</head>
<body>
{% block ust_icerik %}

{% endblock %}


    {% include "includes/navbar.html" %}

    <div style="margin-top: 7%" class="container">

        {% block body %}

        {% endblock body %}
    </div>

</body>
</html>