{% extends "base.html" %}
{% load static %}

{% block ust_icerik %}
    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            $(".content").on('keyup', function (e) {
                var $this = $(this);
                var data = $this.val();
                var span = $('.gelen_yazi');
                $.ajax({
                    type: "POST",
                    url: '',
                    data: {'markdown_text': data, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function (data) {
                        console.log("gelen:", data);
                        span.html(data.markdown_text)
                    }
                });
            })
        });
    </script>


{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div style="float:left;" class="col-lg-5">

                <form class="form" action="{% url 'markdown-create' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                    {% endfor %}
                    <br>
                    {% if request.user.is_authenticated %}
                        <input class="btn btn-danger" type="submit" name="save" value="Kaydet">
                    {% else %}
                        <div><span class="text-danger">Yazılarınız kayıt etmek için üye olunuz.</span></div>
                    {% endif %}
                </form>
                {{ new_ome.html_text | safe }}

            </div>
        <div class="float-left col-lg-1">
            <img src="{% static 'img/next.png' %}" width="30px" height="30px" style="margin-top:300px">
        </div>
            <div  style="float:right" class="col-lg-6">
                <p class="text-info "> Markdown yazısı: </p>
                <span  class="gelen_yazi">

                </span>
            </div>
        </div>
    </div>


{% endblock body %}