{% extends "base_2.html" %}

{% load static %}

{% block ust_icerik %}
    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            var $this = $('.content');
            var data = $this.val();
            var span = $('.gelen_yazi');
            $.ajax({
                type: "POST",
                url: '',
                data: {'markdown_text': data, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function (data) {
                    span.html(data.markdown_text)
                }
            });

            $(".content").on('keyup', function (e) {
                var $this = $(this);
                var data = $this.val();
                var span = $('.gelen_yazi');
                $.ajax({
                    type: "POST",
                    url: '',
                    data: {'markdown_text': data, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function (data) {
                        span.html(data.markdown_text)
                    }
                });
            });
            $("#kaydet_navbar").click(function (e) {
                e.preventDefault();
                var $this2 = $('.content');
                var data = $this2.val();

                var $this = $('#baslik');
                var $title = $this.val();
                var $status = 'save';
                console.log($title);
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '',
                    data: {
                        'markdown_text': data,
                        'title': $title,
                        'status': $status,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: 'json',
                    success: (function (data) {
                        console.log("başaılı")
                    })

                });


            });
        });


    </script>


{% endblock %}

{% block body %}


    <div id="md1">
        <form action="{% url 'markdown-create' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}

                {% if field.name == 'markdown_text' %}
                    {{ field }}
                {% endif %}
            {% endfor %}

        </form>

    </div>
    </div>

    <div id="md2">

        <span class="gelen_yazi" id="mdkarsiligi"></span>


    </div>


{% endblock body %}